<div class='wrapper'>
  <div class='row'>
    <div class='column'>

      <div>
        <label for="rcmd" class="my-label">Give your orders ~#</label>
        <textarea id="rcmd" name="cmd" rows="20" cols="40" required autofocus></textarea>
      </div>

      <div class="btn_count">
        <div id="rockmi" class="btn"><span>RUN</span></div>
      </div>
      
    </div>

    <div class='column'>
      <div id="roverboard" class="roverboard">
      	<!-- 1st -->
      	<div id="00" class="white effect"></div>
      	<div id="01" class="black effect"></div>
      	<div id="02" class="white effect"></div>
      	<div id="03" class="black effect"></div>
      	<div id="04" class="white effect"></div>
      	<!-- 2nd -->
      	<div id="10" class="black effect"></div>
      	<div id="11" class="white effect"></div>
      	<div id="12" class="black effect"></div>
      	<div id="13" class="white effect"></div>
      	<div id="14" class="black effect"></div>
      	<!-- 3th -->
      	<div id="20" class="white effect"></div>
      	<div id="21" class="black effect"></div>
      	<div id="22" class="white effect"></div>
      	<div id="23" class="black effect"></div>
      	<div id="24" class="white effect"></div>
      	<!-- 4st -->
      	<div id="30" class="black effect"></div>
      	<div id="31" class="white effect"></div>
      	<div id="32" class="black effect"></div>
      	<div id="33" class="white effect"></div>
      	<div id="34" class="black effect"></div>
      	<!-- 5th -->
      	<div id="40" class="white effect"></div>
      	<div id="41" class="black effect"></div>
      	<div id="42" class="white effect"></div>
      	<div id="43" class="black effect"></div>
      	<div id="44" class="white effect"></div>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'robots' %>