MOVE
MOVE
LEFT
MOVE
MOVE
RIGHT
MOVE
REPORT


PLACE 0,0,NORTH
REPORT

PLACE 0,0,WEST
MOVE
REPORT

PLACE 0,0,EAST
MOVE
MOVE
MOVE
MOVE
MOVE
REPORT

PLACE 4,4,SOUTH
MOVE
REPORT

PLACE 4,4,EAST
MOVE
REPORT
LEFT
MOVE
REPORT
RIGHT
MOVE
REPORT

PLACE 5,5,EAST
REPORT
REPORT

PLACE -1,-1,EAST
REPORT
REPORT